.themed-background {
    background-color: #3F497F;
    color: white !important;
}

.themed-btn {
    background-color: #3F497F;
    color: white !important;
}

.themed-btn:hover {
    background-color: #25306f;
    color: white !important;
}

.themed-card-header {
    background-color: #25306f;
    color: white;
}

.paws-emoji-white {
    color: transparent;
    text-shadow: 0 0 0 white;
}

nav .active {
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Vidaloka', serif;
    font-weight: bold;
    font-size: 1.3em;
}

.flex-wrapper {
    display: flex;
    min-height: 95vh;
    flex-direction: column;
    justify-content: space-between;
}

.api-search-results-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-bottom: 50px;
}

.results-card {
    box-shadow: 2px 2px 6px 0px rgba(255, 255, 255, 0.3);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    width: 300px;
    height: 100%;
}

.results-card:hover {
    transform: scale(1.05);
}

.login-image {
    border-radius: 20px;
    width: 80%;
    margin-bottom: 15px;
}

.unauthorized-image {
    border-radius: 20px;
    width: 40%;
}

.home-dog-list-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
}

.search-box {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search-box input {
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search-box:focus {
    box-shadow: none;
    border: 2px solid #3F497F;
}

.search-box .search-icon {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search-box button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 90px;
    border-radius: 8px;
}

.sign-up-image {
    border-radius: 15px;
    max-height: 400px;
}

.short-card {
    height: 100px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(255, 255, 255, 0.3);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.short-card:hover {
    height: 100px;
    cursor: pointer;
    transform: scale(1.01);
}

.short-card:focus {
    background: #3F497F;
    color: white;
}

.short-card p {
    font-size: 20px;
}

.short-card-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.link {
    text-decoration: none;
}

.full-profile-card-img-bg {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.full-profile-card-avatar {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #3F497F;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(63, 73, 127, 1), rgb(83, 145, 101));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(63, 73, 127, 1), rgb(83, 145, 101))
}

@media (max-width: 768px) {
    .api-search-results-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 15px;
    }
}

@media (max-width: 480px) {
    .api-search-results-grid {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-gap: 10px;
    }

    .short-card {
        width: 100%;
    }

    .full-profile-card-img-bg {
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
    }
}